body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .main{
    background: rgba(151, 99, 204, 0.533);
    width: 1440px;
    height: 3818px;
    margin: 0 auto;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #e0e0e0;
    width: 1440px;
    margin: 0 auto;
  }
  
  .header {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background: rgb(190, 49, 49);
    width: 100%;
    padding-left: 30px;
  }
  .img-1 {
    gap: 8px;
    display: flex;
    justify-content: space-between;
    margin-right: 94px;
  }
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .nav {
    display: flex;
    list-style-type: none;
    gap: 49px;
    justify-content: space-start;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0 20px;
  }
  .button-2 {
    width: 160px;
    height: 100px;
    background: rgba(245, 242, 236, 1);
    border-radius: 0 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .nav  a{
    text-decoration: none;
    color: black;
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .signup, .login {
    margin-left: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .signup {
    color: black;
  }
  
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 100px;
    background: #F5F2EC;
    border-radius: 0 0 0 40px;
  }
  .main {
    position: relative;
    width: 1360px;
    height: 900px;
    background: #5f1111;
}

.title{
    position: relative;
    width: 498px;
    height: 302px;
    background: greenyellow;
    z-index: 1;
}
  .email-box{
    position: relative;
    width: 692px;
    height: 123px;
    background: green;
    z-index: 1;
}
  .photos{
    position: absolute;
    width: 1220px;
    height: 892px;
    background: gray;
    top: 0;
    right: 0;
}